* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #333333;
	line-height: 24px;
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
}

h1 {
	font-family: 'Roboto Slab', serif;	
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;	
	color: #34724a;
}

.sitewrapper {
	width:100%;
	margin: 0 auto;
	min-width: 1170px;
}

header {
	background-color: #66bc88;	
	padding:8px 0;
	clear: both;
}
nav {
	font-family: 'Open Sans', sans-serif;
	display: flex;
}

nav ul li {
	float: left;
	list-style: none;
	font-size: 15px;
	font-weight: 700;
}

nav ul li a {
	color: black;
	padding: 15px 10px;
	display: block;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ffffff;
}


.mainwrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1170px;	
	min-width: 1170px;
}

section{
	overflow: visible;
	margin-top: 15px;
	margin-bottom: 10px;
	clear:both;
}

.title{
	margin: 35px 0;
}

.contactus-page{
	margin-top: 10px;
	width:100%;
}

.contactus-page-wrap{	
	margin-bottom:80px; 
}

.contactus-page-wrap h3{ 
	font-size:30px; 
	font-weight:300; 
	margin-bottom:30px;
}


.contact form fieldset {
	border: none;
	margin-bottom: 20px;
}

.contact form fieldset label {
	display: block;
	font-size: 14px;
	color: #444444;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact form fieldset input, .contact form fieldset textarea , .contact fieldset select{
	display: block;
	background-color: #e8e8e8;
	border: none;
	width: 94%;
	padding: 17px 3%;
	font-size: 14px;
}

.contact form fieldset textarea {
	height: 80px;
	resize: none;
}

.contact form fieldset span {
	float: left;
	display: inline-block;
	background-color: #dddcdc;
	padding: 15px 20px 5px 20px;
	height: 30px;
	margin: 0 15px 0 0;
}

.contact form fieldset.submit button {
	width: auto;
	float: left;
	margin-right: 15px;
}

.contact form fieldset button[type="submit"] {
	background:#34724a;
	width: auto;
	height:auto;
	margin: 0;
	padding:12px 30px; 
	color:#FFF;
	font-family: 'Roboto Slab', serif;
	font-size:18px; 
	font-weight:300;
}

.contact form fieldset input[type="button"]:hover {
	color: #000;
	cursor: pointer;
}

/*footer*/
footer{
	width: 100%;
    height: 40px;
	display: block;
	clear: both;
    color: #000;
	background-color: #66bc88;
	overflow: hidden;
	padding: 2px;
    margin-top: 20px;
    font-size: 11px;
	font-weight: bold;
}
